# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

.env
.env-template
.idea
#deploy.sh

#letsencrypt generated certificates
letsencrypt/

#logs
logs/

#run folder - files in these folders are programme generated  
run/
